<tr>
  <td>
    <%= link_to activity.venue.name, admin_venue_path(activity.venue) %>
  </td>
  <td>
    <%= activity.name %>
  </td>
  <td>
    <%= activity.description %>
  </td>
  <td>
    <%= activity.schedule %>
  </td>
    <td>
    <%= activity.hardness %>
  </td>
  <td class="text-right">
    <%= link_to 'Editar', edit_admin_activity_path(activity), class: 'btn btn-outline-dark' %>
    <%= link_to 'Destruir', admin_activity_path(activity), class: 'btn btn-outline-danger', method: :delete, data: {confirm: '¿Está seguro?'} %>
  </td>
</tr>
<tr>
  <td></td>
  <td colspan="5">

  <% activity.tags.each do |tag| %>
      <%= link_to tag.title, admin_tag_path(tag), class: 'badge badge-light' %>
  <% end %>
  </td>
</tr>
